@import 'tailwindcss';
@import './themes.css';

/* Remove arrows for input type=number in Chrome, Safari */
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-number-input {
  -moz-appearance: textfield;
}

/* Custom select */
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-number-input {
  -moz-appearance: textfield;
}

/* Nav username glow */
@layer utilities {
  @keyframes glow {
    0%,
    100% {
      filter: drop-shadow(0 0 2px var(--username-gradient-from))
        drop-shadow(0 0 4px var(--username-gradient-to));
    }
    50% {
      filter: drop-shadow(0 0 4px var(--username-gradient-from))
        drop-shadow(0 0 6px var(--username-gradient-to));
    }
  }

  .animate-glow {
    animation: glow 2.5s ease-in-out infinite;
  }

  .animated-username {
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
