@import 'tailwindcss';

/* TODO */
@theme {
  --color-primary: #111827;
  --color-primary-lighter: #1f2937;
  --color-primary-darker: #0b0f19;

  --color-text-primary: #f3f4f6;
  --color-text-secondary: #9ca3af;

  --color-border: #374151;
}

/* TODO */
@layer base {
  html {
    @apply bg-primary text-text-primary antialiased;
  }

  body {
    @apply min-h-screen;
  }

  * {
    @apply box-border;
  }
}

/* Remove arrows for input type=number in Chrome, Safari */
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-number-input {
  -moz-appearance: textfield;
}

/* Custom select */
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-number-input {
  -moz-appearance: textfield;
}

/* Nav username glow */
@layer utilities {
  @keyframes glow {
    0%,
    100% {
      filter: drop-shadow(0 0 2px #22d3ee) drop-shadow(0 0 4px #6366f1);
    }
    50% {
      filter: drop-shadow(0 0 4px #22d3ee) drop-shadow(0 0 6px #6366f1);
    }
  }

  .animate-glow {
    animation: glow 2.5s ease-in-out infinite;
  }

  .animated-username {
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* GameCard platinum badge shine effect */
@layer utilities {
  @keyframes shine {
    0% {
      transform: translateX(-100%) translateZ(0);
    }
    100% {
      transform: translateX(300%) translateZ(0);
    }
  }

  .shine-wrapper {
    overflow: hidden;
    will-change: transform;
  }

  .shine-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 80%;
    background: linear-gradient(
      120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.3) 50%,
      transparent 100%
    );
    animation: shine 2s ease-in-out infinite;
    will-change: transform;
    transform: translateZ(0);
  }
}

/* GameCard playing badge wiggle effect */
@layer utilities {
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(2deg);
    }
    10% {
      transform: rotate(-2deg);
    }
    15% {
      transform: rotate(2deg);
    }
    20% {
      transform: rotate(-2deg);
    }
    25% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .animate-wiggle {
    animation: wiggle 5s ease-in-out infinite;
  }
}

/* GameCard glow */
@layer utilities {
  .glow-card {
    filter: drop-shadow(0 0 11px #6efb5d);
  }
}
